<div class="forgot-container">

    <form
        [formGroup]="ForgotPasswordForm"
        (ngSubmit)="sendOtp()">

        <h2>Forgot Password</h2>

        <p class="subtitle">

            Enter your registered email address.
            We'll send an OTP to reset your password.

        </p>

        <div class="form-group">

            <label>Email Address</label>

            <input
                type="email"
                placeholder="Enter your email"
                formControlName="Email">

            <small
                *ngIf="ForgotPasswordForm.get('Email')?.touched &&
                ForgotPasswordForm.get('Email')?.hasError('required')">

                Email is required

            </small>

            <small
                *ngIf="ForgotPasswordForm.get('Email')?.touched &&
                ForgotPasswordForm.get('Email')?.hasError('email')">

                Invalid email address

            </small>

        </div>

        <div class="btn-section">

            <button
                class="forgot-btn"
                type="submit"
                [disabled]="isLoading">

                {{ isLoading ? 'Sending OTP...' : 'Send OTP' }}

            </button>

        </div>

        <p class="back-login">

            <a routerLink="/login">

                Back to Login

            </a>

        </p>

    </form>

</div>